/* Genel Ayarlar */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Arka plan rengi */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Tüm ekran yüksekliğini kapsar */
}

/* Header Ayarları */
header {
    background-color: #333;
    padding: 25px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.site-title {
    margin: 0;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Dropdown için gerekli */
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Dropdown Ayarları */
.dropdown {
    position: relative; /* Dropdown'un konumunu ayarlar */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    min-width: 200px;
    max-width: calc(100vw - 20px); /* Sayfa genişliğine sığması için */
    overflow-wrap: break-word; /* Uzun metinlerin taşmasını önler */
    border-radius: 5px;
    left: auto;
    right: 0; /* Sağ tarafa hizalar */
}

.dropdown-content a {
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    display: block;
    white-space: nowrap; /* Tek satırda tutar */
    text-overflow: ellipsis; /* Uzun metinler için üç nokta ekler */
    overflow: hidden; /* Taşan metni gizler */
}

.dropdown-content a:hover {
    background-color: #f4f4f4;
}

.dropdown:hover .dropdown-content {
    display: block; /* Hover edildiğinde dropdown görünür */
}

/* İçerik Konteyneri */
#content {
    flex: 1;
    padding: 20px;
}

/* Harita Alanı */
#map {
    padding: 20px;
    text-align: center;
}

/* Footer Ayarları */
#footer {
    background-color: #2b2727;
    padding: 10px 0;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
